@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100%;
  font-family: "Jost", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .section {
    @apply w-full h-svh flex relative;
  }
  .sectionPadding {
    @apply w-full py-8 md:px-24 px-12;
  }
  .flexCenter {
    @apply flex items-center justify-center;
  }
  .flexBetween {
    @apply flex items-center justify-between flex-row;
  }
}
