@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

textarea:focus,
input:focus {
  outline: none;
  box-shadow: none;
}

@layer utilities {
  .section {
    @apply w-full min-h-svh flex relative;
  }
  .sectionPadding {
    @apply w-full md:py-12 py-8 md:px-36 px-12;
  }
  .flexCenter {
    @apply flex items-center justify-center;
  }
  .flexBetween {
    @apply flex items-center justify-between flex-row;
  }

  .inputCorrect {
    @apply border border-[#98E37E];
  }
  .inputError {
    @apply border border-[#EF5050];
  }
}
